{# ROW #}
{% block form_row %}
{% spaceless %}
    <div class="form-group {{ form.vars.errors|length > 0 ? 'has-error has-feedback' }}">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}

{# LABEL #}
{% block form_label %}
{% spaceless %}
    {% set label_attr = label_attr|merge({'class': label_attr.class|default('') ~ ' control-label'}) %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{# ERRORS #}
{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <p class="text-danger text-right">{{ error.message }}</p>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{# WIDGET #}
{% block form_widget_simple %}
{% spaceless %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }}  {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endspaceless %}
{% endblock form_widget_simple %}

{# WIDGET - IMAGE #}
{% block image_widget %}
{% spaceless %}
    {{ block('form_widget') }}
    {% if preview and image_url is not null %}
        <img src="{{ asset(image_url) }}"/>
    {% endif %}
{% endspaceless %}
{% endblock %}

{# WIDGET - CHECKBOX #}
{% block checkbox_widget %}
{% spaceless %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock checkbox_widget %}

{# WIDGET - TEXTAREA #}
{% block textarea_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endspaceless %}
{% endblock textarea_widget %}

{# WIDGET - CHOICE #}
{% block choice_widget %}
{% spaceless %}
    {% if expanded %}
        {{ block('choice_widget_expanded') }}
    {% else %}
        {{ block('choice_widget_collapsed') }}
    {% endif %}
{% endspaceless %}
{% endblock choice_widget %}

{% block choice_widget_collapsed %}
{% spaceless %}
    {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' form-control')|trim }) %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if empty_value is not none %}
            <option {% if required %} disabled="disabled"{% if value is empty %} selected="selected"{% endif %}{% else %} value=""{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('choice_widget_options') }}
            {% if choices|length > 0 and separator is not none %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {{ block('choice_widget_options') }}
    </select>
{% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        {% if multiple is defined and multiple %}
            {{ block('choice_widget_checkbox_row') }}
        {% else %}
            {{ block('choice_widget_radio_row') }}
        {% endif %}
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}

{# WIDGET - CHOICE - RADIO / CHECKBOX #}
{% block choice_widget_checkbox_row %}
{% spaceless %}
    <div>
        <label class="control-label" for="{{ child.vars.id }}">
            <input type="checkbox" id="{{ child.vars.id }}" name="{{ child.vars.full_name }}" value="{{ child.vars.value }}" {{ child.vars.checked ? 'checked="checked"' : null }} {{ child.vars.disabled ? 'disabled="disabled"' : null }} >&nbsp;{{ child.vars.label }}
        </label>
    </div>
{% endspaceless %}
{% endblock choice_widget_checkbox_row %}

{% block choice_widget_radio_row %}
{% spaceless %}
    <div>
        <label class="control-label" for="{{ child.vars.id }}">
            <input type="radio" id="{{ child.vars.id }}" name="{{ child.vars.full_name }}" value="{{ child.vars.value }}" {{ child.vars.checked ? 'checked="checked"' : null }} {{ child.vars.disabled ? 'disabled="disabled"' : null }} >&nbsp;{{ child.vars.label }}
        </label>
    </div>
{% endspaceless %}
{% endblock choice_widget_radio_row %}

{# BUTTON #}
{% block button_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' btn btn-primary btn-block'}) %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
{% endspaceless %}
{% endblock button_widget %}

